a:link{
    color: #07689F;
}

a:hover {
    color: #f3eca5;
  }

a:active {
    color: #4e4e4e;
  }

  .tailleCarte7{
    width: 200px;
  }

  .tailleCarte14{
    width: 150px;
  }
  .tailleCarteCal{
    width: 120px;
  }
  .tailleCarteImage{
    width: 120px;
  }
  .tailleStatisticMois{
    height: 50%;
  }


  





  